.slide-in {
  animation: slide-in 0.2s ease-in-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(-300px);
  }
  30% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}
