body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; }

#animated-element {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  transition: transform 0.5s ease-in-out; }
  #animated-element:hover {
    transform: rotate(45deg); }
